# Dependencies
node_modules/
Dihadi-Hub/

# Environment variables
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Editor folders
.vscode/
.idea/

# Optional cache folders
.cache/
.tmp/
